section{
    width: auto;
    height: auto;
    padding: 50px;
}

#about{
    font-family: 'Shadows Into Light'; 
    text-align: center;
}

#grades{
    width: auto;
    height: auto;
    padding: 50px;
}

#line{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}



#t-grades{
    font-size: 20px;
    text-align: center;
}

.cl_white{
    font-family: 'Shadows Into Light';
    color: black;
}

.col-text{
    font-family: 'Shadows Into Light'; 
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.container{
   display:table;
}

.nav{
    font-family: 'Shadows Into Light'; 
    font-size:15px;
}

.work{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    transition: opacity 1s ease-in-out;
}

.work:hover{
    opacity: .55;
}

.work_items{
    font-family: 'Shadows Into Light'; 
    text-align: left;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}